/*
Open Sans styles:
Light 300 - Nav
Light 300 Italic- Footer
Normal 400 - Text
Semi-Bold 600 Italic - Subheaders, Quotes
Bold 700
Bold 700 Italic - Headers, Quote Marks?
*/
[class*="icon-"],
[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
[class*="fa-"],
[class^="fa-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
body {
  background: #ffffff;
  box-sizing: border-box;
  border: 0px none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 150%;
  color: #000000;
}
h1 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  line-height: .125em;
}
h1 span {
  font-weight: 400;
  font-style: normal;
}
h1 a {
  text-decoration: none;
  list-style-type: none;
}
h1 a:link,
h1 a:visited {
  color: #000000;
}
h1 a:hover,
h1 a:focus {
  color: #ea9322;
}
h2 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.6em;
}
h3 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.1em;
  margin-top: .8em;
  margin-bottom: .1em;
}
h4 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.0em;
}
h5 {
  font: 'Open Sans', sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 1.2em;
  font-style: italic;
  line-height: 1em;
}
h6 {
  font: 'Open Sans', sans-serif;
  color: #444;
  font-weight: 400;
  font-size: .8em;
  font-style: italic;
  line-height: 1.0em;
}
header {
  margin-top: 0px;
  width: 100%;
}
#scc-header {
  background: #0f90c7;
  width: 100%;
  margin-top: -15px;
}
#scc-header-center {
  width: 80%;
  margin: 0 auto;
}
#header-logo {
  height: auto;
  margin: 15px 0 0 0;
  width: auto;
}
#sl-header {
  background: #ffffff;
  width: 100%;
}
#sl-header #sl-header-center {
  width: 80%;
  margin: 0 auto;
}
#slider-panel-nav-wrap {
  width: 100%;
  margin: auto;
}
#slider-zone {
  border-top: 5px solid #ea9322;
  border-bottom: 5px solid #ea9322;
  margin: 0 auto;
  height: auto;
  background: #ffffff;
  position: relative;
  width: 100%;
}
#slider-zone img {
  width: 100%;
}
#slider-panel {
  float: right;
  width: 32%;
  height: 90px;
  background: rgba(236, 140, 52, 0.4);
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}
#slider-panel h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.1em;
  color: #ffffff;
  width: 75%;
  margin: 3px 0 8px 2%;
  z-index: 3;
}
nav #nav-main,
#nav-footer {
  font-weight: 400;
  margin: auto;
  height: 2.5em;
}
nav #nav-main #nav-center,
#nav-footer #nav-center,
nav #nav-main #footer-center,
#nav-footer #footer-center {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  font-style: normal;
  font-size: 1.3em;
  line-height: 1.75em;
  margin: 0 auto;
}
nav #nav-main ul,
#nav-footer ul {
  text-align: center;
  display: block;
  margin: auto;
}
nav #nav-main li,
#nav-footer li {
  width: 24.5%;
  display: inline;
  float: left;
}
nav #nav-main a,
#nav-footer a {
  display: block;
  text-decoration: none;
}
nav #nav-main a:link,
#nav-footer a:link,
nav #nav-main a:visited,
#nav-footer a:visited {
  color: #000000;
}
nav #nav-main a:hover,
#nav-footer a:hover,
nav #nav-main a:focus,
#nav-footer a:focus {
  color: #ea9322;
}
.current-menu-item a {
  color: #ea9322;
}
#nav-main {
  border-bottom: 5px solid #ea9322;
  margin-bottom: 2px;
  width: 80%;
}
#nav-footer {
  width: 100%;
  clear: both;
  border-top: 5px solid #ea9322;
}
#nav-footer #footer-center {
  font-size: 1.2em;
}
#center {
  width: 80%;
  margin: auto;
}
#main {
  width: 100%;
}
#bread-box {
  width: 80%;
  margin: auto;
  clear: both;
}
.breadcrumbs {
  font-size: .9em;
  font-style: italic;
  font-weight: 600;
  line-height: 2em;
  margin: 20px 0 0 10px;
  color: #ce7706;
  display: inline;
}
.breadcrumbs > .home,
.post,
.post-page,
a {
  color: #ce7706;
}
#sidebar-primary {
  float: left;
  width: 25%;
  padding: 10px 0 0 0;
}
#sidebar-primary img {
  width: 75%;
  float: right;
}
#sidebar-primary h5 {
  text-indent: -6%;
  width: 50%;
  margin-left: 33%;
}
.primary-quote {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.75em;
  width: 80%;
}
.primary-quote:before {
  font-size: 150%;
  content: open-quote;
  font-weight: bold;
  line-height: 0.1em;
  margin-right: 0.0em;
  vertical-align: -0.15em;
}
.primary-quote:after {
  font-size: 150%;
  content: close-quote;
  font-weight: bold;
  line-height: 0.1em;
  margin-right: 0.0em;
  vertical-align: -0.15em;
}
#content {
  float: left;
  width: 40%;
  padding: 0 0 0 4%;
}
#content a {
  color: #000000;
}
#content p {
  font-size: 1.0em;
  font-style: normal;
  color: #000000;
}
#content .resource-link,
#content .training-link {
  font-style: italic;
}
.sl-button {
  border: 2px solid #eaa955;
  border-radius: 5px;
  text-decoration: none;
  padding: 0 40px;
}
.sl-button ::before {
  padding: 1em 0;
}
.sl-button ::after {
  padding: 1em 0;
}
.sl-button ::-moz-focus-inner {
  border: 0;
}
.sl-button :link {
  border: 2px solid #eaa955;
  color: #444;
}
.sl-button :visited {
  border: 2px solid #444;
  color: #444;
}
.sl-button :hover {
  border: 2px solid #e88709;
  color: #fff;
  background: rgba(232, 135, 9, 0.5);
}
.sl-button :active {
  border: 2px solid #e88709;
  color: #fff;
  -webkit-box-shadow: inset 2px 2px 3px 3px rgba(232, 135, 9, 0.5);
  -moz-box-shadow: inset 2px 2px 3px 3px rgba(232, 135, 9, 0.5);
  box-shadow: inset 2px 2px 3px 3px rgba(232, 135, 9, 0.5);
  cursor: pointer;
}
.button-box {
  margin: auto;
  width: 100%;
}
#asc-contact {
  margin: auto;
  width: auto;
}
#asc-who {
  margin: auto;
  width: auto;
}
.sl-button-inline {
  margin: 0;
  display: inline;
}
#asc-const {
  margin: auto;
}
#asc-bylaws {
  margin: auto;
}
#credits {
  list-style-type: none;
  text-decoration: none;
  margin: 1em 0 1em 4em;
}
#publications-board-notice {
  width: 95%;
  margin: auto;
  border: 2px solid #000;
  margin: 1em 0;
  padding: .5em 3% 1em 3%;
}
#publications-board-notice h5 {
  text-align: center;
}
#publications-board-notice p {
  margin: auto;
  width: 90%;
  text-align: justify;
  Text-justify: distribute;
}
#sidebar-secondary {
  float: left;
  width: 25%;
  padding: 0 0 0 3%;
}
#sidebar-secondary h5 {
  float: left;
}
#sidebar-secondary #searchform,
#sidebar-secondary #meta-3 {
  float: left;
  margin-left: 4%;
}
#sidebar-secondary .screen-reader-text {
  float: left;
  display: block;
}
#sidebar-secondary .timely {
  margin-top: 1em;
}
#sidebar-secondary ul {
  float: left;
}
#sidebar-secondary ul li {
  float: left;
  list-style-image: url(images/sl-logo.png);
  padding-top: -16px;
  font-size: 1.1em;
  line-height: 1.45em;
  font-style: italic;
  width: 90%;
}
#sidebar-secondary p {
  float: left;
}
#search-box {
  float: left;
  padding-bottom: 1em;
}
.timely {
  padding-top: 1em;
}
/*--contact form --*/
.site-content {
  margin: 24px 0 0;
  margin: 1.714285714rem 0 0;
}
.site-content article {
  border-bottom: 4px double #ededed;
  margin-bottom: 72px;
  margin-bottom: 5.142857143rem;
  padding-bottom: 24px;
  padding-bottom: 1.714285714rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.error {
  padding: 4px .5%;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
}
.success {
  padding: 4px .5%;
  border: 1px #0f90c7;
  color: blue;
  border-radius: 3px;
}
form span {
  color: #ff0000;
}
#respond form input[type="text"] {
  width: 46.333333333%;
}
#respond form textarea.blog-textarea {
  width: 79.666666667%;
}
/* Status posts */
.format-status .entry-header {
  margin-bottom: 24px;
  margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
  display: inline-block;
}
.format-status .entry-header h1 {
  font-size: 15px;
  font-size: 1.071428571rem;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
}
.format-status .entry-header h2 {
  font-size: 12px;
  font-size: 0.857142857rem;
  font-weight: normal;
  line-height: 2;
  margin: 0;
}
.format-status .entry-header header a {
  color: #757575;
}
.format-status .entry-header header a:hover {
  color: #21759b;
}
.format-status .entry-header img {
  float: left;
  margin-right: 21px;
  margin-right: 1.5rem;
}
#contact-message-box {
  width: 90%;
}
/*--end Contact Form--*/
footer {
  width: 100%;
}
.width-100pc {
  width: 100%;
}
.width-90pc {
  width: 90%;
}
.width-80pc {
  width: 80%;
}
.width-40pc {
  width: 40%;
}
.width-25pc {
  width: 25%;
}
/***********MEDIA QUERIES**************/
@media only screen and (max-width: 950px) {
  #slider-panel h3 {
    font-size: 1.3em;
  }
  #sidebar-primary h5 {
    font-size: 1em;
  }
}
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 825px) {
  .header-logo {
    max-width: 220px;
  }
  #slider-panel h4 {
    font-size: 1.3em;
    line-height: 1em;
  }
  #sidebar-primary h5 {
    font-size: .9em;
  }
}
@media screen and (max-width: 700px) {
  h3 {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .header-logo {
    max-width: 150px;
    height: 45px;
    margin-bottom: 0;
  }
  #sidebar-primary h5 {
    display: none;
  }
  nav #nav-main #nav-center {
    font-size: 1.1em;
    line-height: 2em;
  }
  nav #nav-main #nav-center li {
    width: 25%;
  }
  #slider-panel {
    height: 100%;
  }
  #slider-panel h3 {
    font-size: 1.1em;
    margin: 4px 0 2px 2%;
  }
  #sidebar-secondary h5 {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 600px) {
  #scc-header-center {
    width: 100%;
    margin: margin: 0 0 0 4%;
  }
  #header-logo {
    height: auto;
    margin: 15px 0 0 4%;
    width: auto;
  }
  #sl-header #header-center {
    width: 100%;
    margin: 0 0 0 4%;
  }
  #nav-main {
    width: 100%;
  }
  #slider-zone {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  #sidebar-primary {
    padding: 0 0 0 0;
    display: none;
  }
  #content {
    width: 55%;
  }
  #content p {
    font-size: 1.0em;
    font-style: normal;
  }
  #sidebar-secondary {
    width: 37%;
  }
  #sidebar-secondary h5 {
    font-size: 1em;
  }
}
@media screen and (max-width: 500px) {
  #scc-header {
    height: 76px;
  }
  #slider-panel h4 {
    font-size: .95em;
    line-height: .85em;
  }
  nav #nav-main {
    display: none;
  }
  #nav-footer {
    height: 8em;
  }
  #nav-footer #footer-center {
    clear: both;
    width: 100%;
    margin: auto;
    font-size: 1.1em;
  }
  #nav-footer li {
    border-bottom: 3px solid #ea9322;
    width: 100%;
    display: block;
    float: none;
  }
  .sl-quote {
    display: none;
  }
  #sidebar-primary {
    display: none;
  }
  #content {
    display: block;
    width: 100%;
  }
  #content p {
    font-size: 1.0em;
    font-style: normal;
    padding: 0 5% 0 0;
  }
  #sidebar-secondary {
    display: block;
    width: 100%;
    padding: 0 5% 0 0;
  }
  #sidebar-secondary h5 {
    font-size: 1em;
  }
  p {
    margin: 0 5% 0 0;
  }
}
@media screen and (max-width: 450px) {
  h1 span {
    display: block;
    line-height: 2em;
  }
  h3 {
    font-size: 1.2em;
    line-height: 1.2em;
  }
  .header-logo {
    margin-top: 12px;
  }
  #slider-panel h3 {
    font-size: 1em;
    margin: 2px 0 2px 2%;
  }
}
@media screen and (max-width: 350px) {
  #slider-panel {
    display: none;
  }
  #slider-panel h3 {
    display: none;
  }
}
/* FOOTER STYLES */
/*paste2.css done with experimental and re-named to footer-scc.css 02-13-15*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Default text styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2125em;
  margin-bottom: 0.15em;
  margin-top: 0.2em;
  color: #fff !important;
  text-rendering: optimizelegibility;
}
p {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  text-rendering: optimizeLegibility;
}
p.smallprint {
  font-size: .8em;
  margin-bottom: .05em !important;
}
.tinyprint {
  font-size: .7em !important;
}
/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}
/* Helpful Typography Defaults */
* {
  text-decoration: none;
}
em,
i {
  font-style: italic;
  line-height: inherit;
}
[class*="icon-"],
[class^="icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
[class*="fa-"],
[class^="fa-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
/* Lists */
#footer-scc ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}
#footer-scc {
  display: block;
  direction: ltr;
  margin: 0;
  padding: 0;
  background: none repeat scroll 0 0 #008fc5;
  border-top: 20px solid #3a3a3a;
  color: #fff;
  overflow: hidden;
}
#footer-scc a {
  font-family: 'OpenSans-Regular', Arial, sans-serif;
  color: #fff;
}
#footer-scc h4 {
  font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2125em;
  margin-bottom: 0.15em;
  margin-top: 0.2em;
  color: #fff !important;
  text-rendering: optimizelegibility;
}
.fa-2x {
  font-size: 2em;
}
.footer-logo {
  position: absolute;
  right: 6%;
  margin: 0 2% 0 2%;
  top: -70px;
}
.college-links {
  position: absolute;
  top: -48px;
}
/*row*/
.row {
  padding-right: 2%;
  margin: 0 auto;
  max-width: 62.5em;
  width: 100%;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
/*large-12*/
.large-12 {
  position: relative;
  width: 100%;
}
/*small-12*/
.small-12 {
  position: relative;
  width: 100%;
}
/*columns*/
.column,
.columns {
  float: left;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  position: relative;
  width: 100%;
}
.lt-ie9 .column,
.columns {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
}
/*top-padding*/
.top-padding {
  padding-top: 1em;
}
/*social-media*/
.social-media {
  position: absolute;
  top: 15px;
  z-index: 1;
}
/*text-center*/
.text-center {
  text-align: center !important;
}
/*broadway-campus*/
.broadway-campus {
  margin-top: 50px;
  font-family: 'OpenSans-Light', Arial, sans-serif;
}
/*smallprint*/
.smallprint {
  font-size: 0.8em;
  margin-bottom: 0.05em !important;
}
/*rm-sm-break*/
.rm-break,
.rm-sm-break {
  display: none;
}
/*donate-contact-dis*/
#donate-contact-dis [class^="icon-"],
#donate-contact-dis [class*=" icon-"] {
  padding-right: 6px;
}
#donate-contact-dis ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 0;
  text-align: center;
}
#donate-contact-dis ul li {
  display: inline;
}
#donate-contact-dis ul li a {
  padding: 0.2em 1em;
  text-decoration: none;
}
/*tinyprint*/
.tinyprint {
  font-size: 0.7em !important;
}
@media only screen {
  .column,
  .columns {
    float: left;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    position: relative;
  }
}
@media screen and (max-width: 980px) {
  .footer-logo {
    position: absolute;
    right: 4%;
    top: -90px;
  }
  .social-media {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
  }
  #donate-contact-dis ul li a {
    padding: 0.2em 0.5em;
    text-decoration: none;
  }
  .college-links {
    position: static;
    display: block;
    clear: both;
    text-align: center;
  }
}
@media screen and (max-width: 840px) {
  #footer-scc {
    height: 355px;
  }
  .footer-logo {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -50px;
  }
}
@media only screen and (max-width: 770px) {
  .footer-logo {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -50px;
  }
  .college-links {
    /*position: absolute;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
		top: -20px;*/
  }
}
@media screen and (max-width: 700px) {
  .rm-sm-break {
    display: block;
  }
  .hide-for-small {
    display: none !important;
  }
}
@media screen and (max-width: 435px) {
  #donate-contact-dis ul li a {
    font-size: 80%;
  }
}
@media screen and (max-width: 350px) {
  .columns:last-child {
    float: left;
  }
  #donate-contact-dis ul li a {
    padding: 0.2em;
    text-decoration: none;
  }
  .college-links {
    top: 5px;
  }
  .footer-logo {
    top: -15px;
  }
}
/* END FOOTER STYLES  */
